/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

iframe{
	/*clip-path: inset(10em 0);*/
}

body{
	background: #0f1314;
}

/*VIDEO EN TEXT IN HET MIDDEN*/
#video-placeholder{
	display: block;
	margin:auto;
	padding: 5em;

/*	width:840px;
    height:473px;*/
}

#closed-captions p{
	text-align: center;
	width: 100%;
}


/*TEXT GROOTTE*/
.p41.on{
    top: 21em;
}
.p42.on{
    top: 22.2em;
}
.p43.on{
    top: 23.4em;
}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */
.sound0 iframe  {
	animation: shake .2s;
 	animation-iteration-count: 8;
}

@keyframes shake {
  	0% { transform: translate(1px, 1px) rotate(0deg); }
  	10% { transform: translate(-1px, -2px) rotate(-1deg); }
  	20% { transform: translate(-3px, 0px) rotate(1deg); }
  	30% { transform: translate(3px, 2px) rotate(0deg); }
  	40% { transform: translate(1px, -1px) rotate(1deg); }
  	50% { transform: translate(-1px, 2px) rotate(-1deg); }
  	60% { transform: translate(-3px, 1px) rotate(0deg); }
  	70% { transform: translate(3px, 1px) rotate(-1deg); }
  	80% { transform: translate(-1px, -1px) rotate(1deg); }
  	90% { transform: translate(1px, 2px) rotate(0deg); }
  	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.sound1 iframe {
	animation-name:  alarm1;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes alarm1 {
	0% {
		transform: scale(1);
	}
	 90% {
       transform: scale(1.1);
  }
	100%{
		transform: scale(1);
	}
}
 
.sound1 {
  animation-name: alarm-kleur;
  animation-duration: 1s;
}

@keyframes alarm-kleur {
	0% {
		background: #af0000;
	}
	80% {
		background: #af0000;
  }
	100%{
		background: black;
	}
}

.sound2 {
	animation-name: alarm2;
	animation-duration: 1.2s;
}

@keyframes alarm2 {
	0% {
		background: #af0000;
	}
	20% {
		background: #1427b2;
	}
	40% {
		background: #af0000;
	}
	60% {
		background: #1427b2;
	}
	80% {
		background: #af0000;
	}
	100% {
		background: black;
	}
}

.sound3 iframe{
	animation: heartbeat 1s linear both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.sound4 iframe {
	animation: wobble-hor-bottom 0.8s both;
}

@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.sound5 iframe{
	animation: heartbeat2 1s linear both;
}

@keyframes heartbeat2 {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.sound6 iframe {
	animation: wobble-hor-bottom2 0.8s both;
}

@keyframes wobble-hor-bottom2 {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.sound7 iframe{
	animation: heartbeat3 1s linear both;
}

@keyframes heartbeat3 {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.sound8 iframe {
	animation: wobble-hor-bottom3 0.8s both;
}

@keyframes wobble-hor-bottom3 {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.sound9 iframe {
	animation: shakes 1s;
 	animation-iteration-count: 21.5;
 }
 @keyframes shakes {
  	0% { transform: translate(.5px, .5px) rotate(0deg); }
  	10% { transform: translate(-.5px, -1px) rotate(-.1deg); }
  	20% { transform: translate(-1.5px, 0px) rotate(.1deg); }
  	30% { transform: translate(1.5px, 1px) rotate(0deg); }
  	40% { transform: translate(.5px, -.5px) rotate(.1deg); }
  	50% { transform: translate(-.5px, 1px) rotate(-.1deg); }
  	60% { transform: translate(-1.5px, .5px) rotate(0deg); }
  	70% { transform: translate(1.5px, .5px) rotate(-.1deg); }
  	80% { transform: translate(-.5px, -.5px) rotate(.1deg); }
  	90% { transform: translate(.5px, 1px) rotate(0deg); }
  	100% { transform: translate(.5px, -1px) rotate(-.1deg); }
}
.sound10 iframe{
	animation: shakes2 .9s;
 	animation-iteration-count: 23.9;
 }
 @keyframes shakes2 {
  	0% { transform: translate(.5px, .5px) rotate(0deg); }
  	10% { transform: translate(-.5px, -1px) rotate(-.2deg); }
  	20% { transform: translate(-1.5px, 0px) rotate(.2deg); }
  	30% { transform: translate(1.5px, 1px) rotate(0deg); }
  	40% { transform: translate(.5px, -.5px) rotate(.2deg); }
  	50% { transform: translate(-.5px, 1px) rotate(-.2deg); }
  	60% { transform: translate(-1.5px, .5px) rotate(0deg); }
  	70% { transform: translate(1.5px, .5px) rotate(-.2deg); }
  	80% { transform: translate(-.5px, -.5px) rotate(.2deg); }
  	90% { transform: translate(.5px, 1px) rotate(0deg); }
  	100% { transform: translate(.5px, -1px) rotate(-.2deg); }
}
.sound11 iframe{
	animation: shakes3 .8s;
 	animation-iteration-count: 26.9;
 }
 @keyframes shakes3 {
  	0% { transform: translate(.5px, .5px) rotate(0deg); }
  	10% { transform: translate(-.5px, -1px) rotate(-.3deg); }
  	20% { transform: translate(-1.5px, 0px) rotate(.3deg); }
  	30% { transform: translate(1.5px, 1px) rotate(0deg); }
  	40% { transform: translate(.5px, -.5px) rotate(.3deg); }
  	50% { transform: translate(-.5px, 1px) rotate(-.3deg); }
  	60% { transform: translate(-1.5px, .5px) rotate(0deg); }
  	70% { transform: translate(1.5px, .5px) rotate(-.3deg); }
  	80% { transform: translate(-.5px, -.5px) rotate(.3deg); }
  	90% { transform: translate(.5px, 1px) rotate(0deg); }
  	100% { transform: translate(.5px, -1px) rotate(-.3deg); }
}
.sound12 iframe{
	animation: shakes4 .7s;
 	animation-iteration-count: 30.7;
 }
 @keyframes shakes4 {
  	0% { transform: translate(.75px, .75px) rotate(0deg); }
  	10% { transform: translate(-.75px, -1.5px) rotate(-.4deg); }
  	20% { transform: translate(-2.25px, 0px) rotate(.4deg); }
  	30% { transform: translate(2.25px, 1.5px) rotate(0deg); }
  	40% { transform: translate(.75px, -.75px) rotate(.4deg); }
  	50% { transform: translate(-.75px, 1.5px) rotate(-.4deg); }
  	60% { transform: translate(-2.25px, .75px) rotate(0deg); }
  	70% { transform: translate(2.25px, .75px) rotate(-.4deg); }
  	80% { transform: translate(-.75px, -.75px) rotate(.4deg); }
  	90% { transform: translate(.75px, 1.5px) rotate(0deg); }
  	100% { transform: translate(.75px, -1.5px) rotate(-.4deg); }
}
.sound13 iframe{
	animation: shakes5 .6s;
 	animation-iteration-count: 35.8;
 }
 @keyframes shakes5 {
  	0% { transform: translate(.75px, .75px) rotate(0deg); }
  	10% { transform: translate(-.75px, -1.5px) rotate(-.5deg); }
  	20% { transform: translate(-2.25px, 0px) rotate(.5deg); }
  	30% { transform: translate(2.25px, 1.5px) rotate(0deg); }
  	40% { transform: translate(.75px, -.75px) rotate(.5deg); }
  	50% { transform: translate(-.75px, 1.5px) rotate(-.5deg); }
  	60% { transform: translate(-2.25px, .75px) rotate(0deg); }
  	70% { transform: translate(2.25px, .75px) rotate(-.5deg); }
  	80% { transform: translate(-.75px, -.75px) rotate(.5deg); }
  	90% { transform: translate(.75px, 1.5px) rotate(0deg); }
  	100% { transform: translate(.75px, -1.5px) rotate(-.5deg); }
}
.sound14 iframe{
	animation: shakes6 .5s;
 	animation-iteration-count: 43;
 }
 @keyframes shakes6 {
  	0% { transform: translate(.75px, .75px) rotate(0deg); }
  	10% { transform: translate(-.75px, -1.5px) rotate(-.6deg); }
  	20% { transform: translate(-2.25px, 0px) rotate(.6deg); }
  	30% { transform: translate(2.25px, 1.5px) rotate(0deg); }
  	40% { transform: translate(.75px, -.75px) rotate(.6deg); }
  	50% { transform: translate(-.75px, 1.5px) rotate(-.6deg); }
  	60% { transform: translate(-2.25px, .75px) rotate(0deg); }
  	70% { transform: translate(2.25px, .75px) rotate(-.6deg); }
  	80% { transform: translate(-.75px, -.75px) rotate(.6deg); }
  	90% { transform: translate(.75px, 1.5px) rotate(0deg); }
  	100% { transform: translate(.75px, -1.5px) rotate(-.6deg); }
}
.sound15 iframe{
	animation: shakes7 .4s;
 	animation-iteration-count: 53.8;
 }
 @keyframes shakes7 {
  	0% { transform: translate(1px, 1px) rotate(0deg); }
  	10% { transform: translate(-1px, -2px) rotate(-.7deg); }
  	20% { transform: translate(-3px, 0px) rotate(.7deg); }
  	30% { transform: translate(3px, 2px) rotate(0deg); }
  	40% { transform: translate(1px, -1px) rotate(.7deg); }
  	50% { transform: translate(-1px, 2px) rotate(-.7deg); }
  	60% { transform: translate(-3px, 1px) rotate(0deg); }
  	70% { transform: translate(3px, 1px) rotate(-.7deg); }
  	80% { transform: translate(-1px, -1px) rotate(.7deg); }
  	90% { transform: translate(1px, 2px) rotate(0deg); }
  	100% { transform: translate(1px, -2px) rotate(-.7deg); }
}
.sound16 iframe{
	animation: shakes8 .3s;
 	animation-iteration-count: 71.7;
 }
 @keyframes shakes8 {
  	0% { transform: translate(1px, 1px) rotate(0deg); }
  	10% { transform: translate(-1px, -2px) rotate(-.8deg); }
  	20% { transform: translate(-3px, 0px) rotate(.8deg); }
  	30% { transform: translate(3px, 2px) rotate(0deg); }
  	40% { transform: translate(1px, -1px) rotate(.8deg); }
  	50% { transform: translate(-1px, 2px) rotate(-.8deg); }
  	60% { transform: translate(-3px, 1px) rotate(0deg); }
  	70% { transform: translate(3px, 1px) rotate(-.8deg); }
  	80% { transform: translate(-1px, -1px) rotate(.8deg); }
  	90% { transform: translate(1px, 2px) rotate(0deg); }
  	100% { transform: translate(1px, -2px) rotate(-.8deg); }
}
.sound17 iframe{
	animation: shakes9 .2s;
 	animation-iteration-count: 107.5;
 }
 @keyframes shakes9 {
  	0% { transform: translate(1px, 1px) rotate(0deg); }
  	10% { transform: translate(-1px, -2px) rotate(-.9deg); }
  	20% { transform: translate(-3px, 0px) rotate(.9deg); }
  	30% { transform: translate(3px, 2px) rotate(0deg); }
  	40% { transform: translate(1px, -1px) rotate(.9deg); }
  	50% { transform: translate(-1px, 2px) rotate(-.9deg); }
  	60% { transform: translate(-3px, 1px) rotate(0deg); }
  	70% { transform: translate(3px, 1px) rotate(-.9deg); }
  	80% { transform: translate(-1px, -1px) rotate(.9deg); }
  	90% { transform: translate(1px, 2px) rotate(0deg); }
  	100% { transform: translate(1px, -2px) rotate(-.9deg); }
}
.sound18 iframe{
	animation: shakes10 .1s;
 	animation-iteration-count: 45;
 }

@keyframes shakes10 {
  	0% { transform: translate(1px, 1px) rotate(0deg); }
  	10% { transform: translate(-1px, -2px) rotate(-1deg); }
  	20% { transform: translate(-3px, 0px) rotate(1deg); }
  	30% { transform: translate(3px, 2px) rotate(0deg); }
  	40% { transform: translate(1px, -1px) rotate(1deg); }
  	50% { transform: translate(-1px, 2px) rotate(-1deg); }
  	60% { transform: translate(-3px, 1px) rotate(0deg); }
  	70% { transform: translate(3px, 1px) rotate(-1deg); }
  	80% { transform: translate(-1px, -1px) rotate(1deg); }
  	90% { transform: translate(1px, 2px) rotate(0deg); }
  	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.sound19 {

}

/*VOICES*/
.voice1 {
/*	color: #70b62c;
	font-family: "brenner slab";
	font-size: 1.5em;
	text-shadow: 0 0 10px #6ebc80, 0 0 30px #6ebc80;
	top: 21em;*/

	color: #2bbe0a;
	font-family: "brenner slab";
	font-size: 1.5em;
	text-shadow: 0 0 10px #3e4740, 0 0 20px #568f61, 0 0 30px #74997c;
	top: 21em;
}


.voice2 {
	color: white;
	font-family: "brenner Sans";
	font-size: 1.5em;
	top: 21em;
}

.voice3{
	color: #ff0000;
	font-family: "brenner sans";
	text-transform: uppercase;
	top: 36em; 
    font-size:.9em;
}

.voice4{
/*  	font-style: italic;  */
	color: black;
	font-family: "brenner regular";
	font-size: 1.5em;
/* 	text-shadow: 0 0 10px #8fcaef, 0 0 20px #54a4db, 0 0 30px #448ac9, 0 0 40px #277dc1, 0 0 50px #1653a1, 0 0 60px #1e3763, 0 0 70px #152a45; */
	text-shadow: 0 0 30px white;
    top: 21em;
}

.voice5 {
/* 	color: #01a6e1;
	font-family: "brenner slab";
	font-size: 1.5em;
	text-shadow: 0 0 15px #44c8ff, 0 0 24px #44c8ff;
	top: 21em;*/

/*    	color: #4da4af;
	font-family: "brenner slab";
	font-size: 1.5em;
	text-shadow: 0 0 15px #91c9ce, 0 0 24px #91c9ce;
	top: 21em; */

	color: #54b0a7;
	font-family: "brenner slab";
	font-size: 1.5em;
	text-shadow: 0 0 15px #92c7bc, 0 0 24px #92c7bc;
	top: 21em;

	color: #55cec2;
	font-family: "brenner slab";
	font-size: 1.5em;
 	text-shadow: 0 0 10px #3e4740, 0 0 20px #568f8b, 0 0 30px #749799;
	top: 21em;
}

//*ACHTERGRONDKLEUR*/
.sound20{
	background: #0d1212;
}
.sound21{
	background: #171c1f;
}
.sound22{
	background: #454e4d;
}
.sound23{
	background: #808676;
}
.sound24{
	background: #75827d;
}
.sound25{
 	background: #8b9c8b;
}
.sound26{
	background: #3b4440;
}
.sound27{
	background:#1f2824;
}
.sound28{
	background: #8b9c8b;
}
.sound29{
	background: #121819;
}
.sound30{
	background: #1f2824;
}
.sound31{
	background:#121819;
}
.sound32{
	background: #8b9c8b;
}